<%= render 'nav' %>
<%= render 'hero' %>
    <body>
        <h1>
            Presenter Details
        </h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Title</th>
                <th>Image</th>
                <th>Skills</th>
                <th>Social</th>
                <th>GitHub</th>
                <!-- <th>created_at</th> -->
                <!-- <th>updated_at</th> -->
                <th>project_id</th>
            </thead>
            <tbody>
                <% @presenters.each do |presenter| %>
                <tr>
                    <td><%= presenter.presenter_name %></td>
                    <td><%= presenter.presenter_title %></td>
                    <td> <%= presenter.presenter_image %></td>
                    <td>
                      <% presenter.presenter_skills.each do |skill| %>
                        <i class="<%= skill[1] %>"></i>
                        <%= skill[0] %> |
                      <% end %>
                    </td>
                    <td><%= presenter.presenter_social %></td>
                    <td><%= presenter.presenter_github %></td>
                    <!-- <td><% presenter.created_at %></td>
                    <td><% presenter.updated_at %></td> -->
                    <td><%= presenter.project_id %></td>
                <% end %>
            </tbody>
        </table>
    </body>
</html>
