
<div class="hero-container" id="sitetop">

<div id="overlay">
    <div id="mycarousel" class="carousel slide" data-ride="carousel">

          <div class="logo-container">
          <%= image_tag("WDICONF_gleam.gif", alt: "WDI Conference logo", class: "wdi7conference-logo") %>
          <%# <img class="wdi7conference-logo" src="http://i.imgur.com/T0QKTap.png" alt=""> %>
          </div>

          <div id="clockdivhero" class="">
              <span class="days"></span>
              <span class="hours"></span>
              <span class="minutes"></span>
              <span class="seconds"></span> <br/>
              <!-- <a class="btn hero-book" href="#"  data-toggle="modal" data-target="#myModal" style="border: 0">BOOK NOW</a> -->
              <button type="submit" class="btn hero-book-button"  data-toggle="modal" data-target="#myModal">BOOK NOW</button>

          </div>


          <!-- <p id="hero-heading">WDI CONF 2016</p> -->

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">

                <%= image_tag("cityimages/city1.jpg", alt: "First Image", class: "hero-img") %>
                <%# <img class="hero-img" src="http://cdn.pcwallart.com/images/japan-people-wallpaper-4.jpg" alt="First Image"> %>
            </div>
            <div class="item ">
                <%= image_tag("cityimages/pulseimage.jpg", alt: "Second Image", class: "hero-img") %>
                <%# <img class="hero-img" src="https://s32.postimg.org/kfa4ibjlh/pulse2.jpg" alt="Second Image"> %>
            </div>
            <div class="item ">
                <%= image_tag("cityimages/city2.jpg", alt: "Third Image", class: "hero-img") %>
                <%# <img class="hero-img" src="http://4.bp.blogspot.com/-tcuvIJN_w5o/U0wCDniTboI/AAAAAAAAEgE/GyN0W8SEE3Q/s1600/1-mall.jpg" alt="Third Image"> %>
            </div>
            <div class="item ">
                <%= image_tag("cityimages/city3.jpg", alt: "Fourth Image", class: "hero-img") %>
                <%# <img class="hero-img" src="http://gethdpic.com/wp-content/uploads/2013/12/Disco-Lights-Wallpaper-For-Your-IMac.jpg" alt="Fourth Image"> %>
            </div>
            <div class="item">
                <%= image_tag("cityimages/city4.jpg", alt: "Fifth Image", class: "hero-img") %>
                <%# <img class="hero-img" src="https://s32.postimg.org/i8y63y91h/ws_City_life_at_night_2560x1600.jpg" alt="Fourth Image"> %>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

    </div>
</div>

</div>
