<section id="project1">
    <div class="container">

        <h2 class="text-center">Projects</h2>

        <div class="project-content-layers">
            <div class="block">
                <div class="project-into-text pic theteam">
                    <h3>PROJECT:
                        <strong>PULSE</strong>
                    </h3>
                </div>
                <div>
                    <div class='pic1 pic'>
                        <div><%= image_tag "profiles_smaller/jason.png"  %></div>
                        <p>JOEL</p>
                    </div>
                    <div class='pic2 pic'>
                        <div><%= image_tag "profiles_smaller/niall.png"  %></div>
                        <p>WILL</p>
                    </div>
                    <div class='pic3 pic'>
                        <div><%= image_tag "profiles_smaller/peter.png"  %></div>
                        <p>CHRIS</p>
                    </div>
                </div>
                <div class="project-into-text pic">Allowing restaurant customers to enjoy the ability to 'remain' in the queue but not have to wait around until they are called. Going away with mobile link to their position in the queue which tracks there progress
                    and allows them to return when their seats are free.</div>
            </div>

            <hr>
            <div class="regular slider2">
                <div>
                    <div><%= image_tag "projects/q_01_home.png"  %></div>
                </div>
                <div>
                    <div><%= image_tag "projects/q_02_public.png"  %></div>
                    <br>
                </div>
                <div>
                    <div><%= image_tag "projects/q_04_admin.png"  %></div>
                </div>
            </div>
            <br>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(".regular").slick({dots: true, infinite: true, slidesToShow: 1, slidesToScroll: 1});

    $('.block').hover(function(){
      $('.slider2').toggleClass('fade');
    });

</script>
