<section>
    <div class="container">
        <div class="project-content-layers">
            <div class="block">
              <div class="project-into-text pic"><h3>THE TEAM</h3></div>
                <div>
                    <div class='pic1 pic'>
                        <%= image_tag "profiles_smaller/joel.png"  %>
                        <p>JOEL</p>
                    </div>
                    <div class='pic2 pic'>
                        <%= image_tag "profiles_smaller/will.png"  %>
                        <p>WILL</p>
                    </div>
                    <div class='pic3 pic'>
                        <%= image_tag "profiles_smaller/chris.png"  %>
                        <p>CHRIS</p>
                    </div>
                </div>
                <div class="project-into-text pic"><h3>PROJECT: <strong>PULSE</strong></h3><br />Duo ut inermis epicuri, sed cibo minimum eu, at iudico persecuti duo. Omnis dissentiunt eos ne. Usu no affert commodo omittantur, omnesque dignissim nam et. Has affert omittam te, te illud mediocrem vel. Pri pertinax repudiare no, id nam harum antiopam. Id usu scripta incorrupte assueverit.</div>
            </div>

            <hr>
            <div class="regular slider">
                <div>
                    <p class="project-p">Some text about how the project works??????
                    </p>
                    <div><%= image_tag "projects/p_01_logo.png"  %></div>
                </div>
                <div>
                    <p class="project-p">Explain some shit......
                    </p>
                    <div><%= image_tag "projects/p_02_pulse.png"  %></div>
                    <br>
                </div>
                <div>
                    <p class="project-p">This too......
                    </p>
                    <div><%= image_tag "projects/p_03_computer.png"  %></div>
                </div>
            </div>
            <br>
        </div>
    </div>
</section>
