<hr>
<section>
  <div class="container">
    <h2 class="text-center">Speakers</h2>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 pix-border img-wrap"> <%= image_tag("profiles/chris", class: "speaker") %> </div>
      <div class="col-lg-6 col-md-6 col-sm-6 pix-border"> <%= image_tag("profiles/jason", class: "speaker") %> </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 pix-border"> <%= image_tag("profiles/joel", class: "speaker") %> </div>
      <div class="col-lg-6 col-md-6 col-sm-6 pix-border"> <%= image_tag("profiles/niall", class: "speaker") %> </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 pix-border"> <%= image_tag("profiles/peter", class: "speaker") %> </div>
      <div class="col-lg-6 col-md-6 col-sm-6 pix-border"> <%= image_tag("profiles/will", class: "speaker") %> </div>
      <p>&nbsp;</p>
    </div>
  </div>
</section>
