<hr>
<section id="project1">
    <div class="container">

        <div class="col-lg-12 text-center">
            <h1>Projects</h1>
        </div>
        <hr>
        <div class="project-content-layers">
            <div class="block">
              <div class="project-into-text pic"><h3>THE TEAM</h3></div>
                <div>
                    <div class='pic1 pic'>
                        <div><%= image_tag "profiles_smaller/jason.png"  %></div>
                        <p>JASON</p>
                    </div>
                    <div class='pic2 pic'>
                        <div><%= image_tag "profiles_smaller/niall.png" %></div>
                        <p>NIALL</p>
                    </div>
                    <div class='pic3 pic'>
                        <div><%= image_tag "profiles_smaller/peter.png"  %></div>
                        <p>PETER</p>
                    </div>
                </div>
                <div class="project-into-text pic"><h3><strong>PROJECT:</strong> QUEUER</h3><br />Allowing restaurant customers to enjoy the ability to 'remain' in the queue but not have to wait around  until they are called. Going away with mobile link to their position in the queue which tracks there progress and allows them to return when their seats are free.</div>
            </div>

            <hr>
            <div class="regular slider">
                <div>
                    <div><%= image_tag "projects/q_01_home.png"  %></div>
                </div>
                <div>
                    <div><%= image_tag "projects/q_02_public.png"  %></div>
                    <br>
                </div>
                <div>
                    <div><%= image_tag "projects/q_03_reg.png"  %></div>
                </div>
            </div>
            <hr>
            <br>
        </div>
    </div>
</section>
