<hr>
<section>
  <div class="container">
    <h2 class="text-center">Speakers</h2>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 pix-border img-wrap"> <%= image_tag("chris", class: "speaker") %> </div>
      <div class="col-lg-6 col-md-6 col-sm-6 pix-border"> <%= image_tag("jason", class: "speaker") %> </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 pix-border"> <%= image_tag("joel", class: "speaker") %> </div>
      <div class="col-lg-6 col-md-6 col-sm-6 pix-border"> <%= image_tag("niall", class: "speaker") %> </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 pix-border"> <%= image_tag("peter", class: "speaker") %> </div>
      <div class="col-lg-6 col-md-6 col-sm-6 pix-border"> <%= image_tag("will", class: "speaker") %> </div>
      <p>&nbsp;</p>
    </div>
  </div>
</section>
