<hr>
<section id="speakerprofiles">
  <div class="container">
    <h2 class="text-center">Speakers</h2>
    <div class="row">
      <% @presenters.each do |presenter| %>
        <div class="col-lg-4 col-md-4 col-sm-4 pix-border sparkley speakerbox">
            <%= image_tag(presenter.presenter_image, class: "speaker") %>
            <div class="speaker-info">
                <div class="skills">
                  <h4><%= presenter.presenter_name %></h4>
                  <h5><%= presenter.presenter_title %></h5>
                    <% presenter.presenter_skills.each do |skill| %>
                        <div class="pull-left">
                            <div class="chip">
                                <i class="<%= skill[1] %>"></i><%= skill[0] %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
