<hr>
<section>
    <div class="container">

        <div class="col-lg-12 text-center">
            <h1>Projects</h1>
        </div>
        <hr>
        <div class="project-content-layers">
            <div class="block">
              <div class="project-into-text pic"><h3>THE TEAM</h3></div>
                <div>
                    <div class='pic1 pic'>
                        <%= image_tag "profiles_smaller/jason.png"  %>
                        <p>BACK END DEV</p>
                    </div>
                    <div class='pic2 pic'>
                        <%= image_tag "profiles_smaller/niall.png"  %>
                        <p>FULL STACK DEV</p>
                    </div>
                    <div class='pic3 pic'>
                        <%= image_tag "profiles_smaller/peter.png"  %>
                        <p>FRONT END DEV</p>
                    </div>
                </div>
                <div class="project-into-text pic"><h3>PROJECT: QUEUER</h3><br />Allowing restaurant customers to enjoy the ability to 'remain' in the queue but not have to wait around  until they are called. Going away with mobile link to their position in the queue which tracks there progress and allows them to return when their seats are free.</div>
            </div>

            <hr>
            <div class="regular slider">
                <div>
                    <p class="project-p">Some text about how the project works??????
                    </p>
                    <div><%= image_tag "projects/q_01_home.png"  %></div>
                </div>
                <div>
                    <p class="project-p">Explain some shit......
                    </p>
                    <div><%= image_tag "projects/q_02_public.png"  %></div>
                    <br>
                </div>
                <div>
                    <p class="project-p">This too......
                    </p>
                    <div><%= image_tag "projects/q_03_reg.png"  %></div>
                </div>
            </div>
            <hr>
            <br>
        </div>
    </div>
</section>
