<hr>
<section>
  <div class="container">
    <h2 class="text-center">Speakers</h2>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 pix-border"> <%= image_tag("profiles/wdi_chris", class: "speaker") %> </div>
      <div class="col-lg-6 col-md-6 col-sm-6 pix-border"> <%= image_tag("profiles/wdi_jason", class: "speaker") %> </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 pix-border"> <%= image_tag("profiles/wdi_joel", class: "speaker") %> </div>
      <div class="col-lg-6 col-md-6 col-sm-6 pix-border"> <%= image_tag("profiles/wdi_niall", class: "speaker") %> </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 pix-border"> <%= image_tag("profiles/wdi_peter", class: "speaker") %> </div>
      <div class="col-lg-6 col-md-6 col-sm-6 pix-border"> <%= image_tag("profiles/wdi_will", class: "speaker") %> </div>
      <p>&nbsp;</p>
    </div>
  </div>
</section>
