<hr>
<section>
  <div class="container">
    <h2 class="text-center">Speakers</h2>
    <div class="row">
      <% @presenters.each do |presenter| %>
        <div class="col-lg-5 col-md-6 col-sm-6 pix-border sparkley speakerbox">
            <%= image_tag(presenter.presenter_image, class: "speaker") %>
            <div class="speaker-info">
                <%= presenter.presenter_name %><br>
                <%= presenter.presenter_title %><br>
                <% presenter.presenter_skills.each do |skill| %>
                    <ul>
                      <li>
                        <%= skill[0] %> - <%= skill[1] %>
                      </li>
                    </ul>
                <% end %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
