<section>
  <div class="container" id="sponsors">
    <h2 class="sponsor-heading">Sponsors</h2>
    <br>
    <a href="https://envato.com/index.html" target="_blank">
      <%= image_tag("sponsors/envato.png", width: "150", height: "150", alt: "Envato", class: "grayscale") %>
    </a>
    <a href="http://www.isobar.com/au/en/" target="_blank">
      <%= image_tag("sponsors/iso.png", width: "150", height: "150", alt: "Isobar", class: "grayscale") %>
    </a>
    <a href="https://www.zendesk.com/" target="_blank">
      <%= image_tag("sponsors/zendesk.png", width: "150", height: "150", alt: "Zendesk", class: "grayscale") %>
    </a>
    <a href="https://99designs.com.au/" target="_blank">
      <%= image_tag("sponsors/99d.png", width: "150", height: "150", alt: "99Designs", class: "grayscale") %>
    </a>
    <a href="https://www.heroku.com/" target="_blank">
      <%= image_tag("sponsors/heroku.png", width: "150", height: "150", alt: "Heroku", class: "grayscale") %>
    </a>
  </div>
</section>
