<section>
  <div class="container">
    <h2 class="sponsor-heading">Sponsors</h2>
    <br>
    <%= image_tag("sponsors/envato.png", width: "150", height: "150", alt: "Envato", class: "grayscale") %>
    <%= image_tag("sponsors/iso.png", width: "150", height: "150", alt: "Isobar", class: "grayscale") %>
    <%= image_tag("sponsors/zendesk.png", width: "150", height: "150", alt: "Zendesk", class: "grayscale") %>
    <%= image_tag("sponsors/99d.png", width: "150", height: "150", alt: "99Designs", class: "grayscale") %>
    <%= image_tag("sponsors/heroku.png", width: "150", height: "150", alt: "Heroku", class: "grayscale") %>
  </div>
</section>
