<!DOCTYPE html>
<html>
    <head>
    <title>WDIConf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WDI conf---k</title>
    <%= include_gon %>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <%# <link rel="stylesheet" href=".../app/assets/stylesheets/"> %>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>




        <script src="https://use.fontawesome.com/12f458c057.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBrKeH8vkox26UY3FUezgbYEA1C0KWRdwg"></script>
    <%# <link rel="stylesheet" href=".../app/assets/stylesheets/"> %>
    <!-- <link rel="stylesheet" type="text/css" href="assets/booking-map.css"/>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap_overrides.css"/>
    <link rel="stylesheet" type="text/css" href="assets/hero.css"/>
    <link rel="stylesheet" type="text/css" href="assets/presenters.css"/>
    <link rel="stylesheet" type="text/css" href="assets/schedule.css"/> -->
    <link rel="stylesheet" type="text/css" href="assets/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="assets/slick.css"/>
    <!-- <link rel="stylesheet" type="text/css" href="assets/social.css"/>
    <link rel="stylesheet" type="text/css" href="assets/sponsors.css"/>
    <link rel="stylesheet" type="text/css" href="assets/testimonials.css"/> -->
    <!-- <link rel="stylesheet" type="text/css" href="assets/wdi_project.css"/> -->
    <link rel="stylesheet" type="text/css" href="assets/z_slick_custom.css"/>



  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBrKeH8vkox26UY3FUezgbYEA1C0KWRdwg"></script>
    </head>
    <body>
        <%= yield %>



        <script src="assets/countdownClock.js" charset="utf-8"></script>
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCi0m1wOwIL5-JkxkTNTpl8cI_PWBran-Y"></script>
        <script src="assets/slick.js" charset="utf-8"></script>

    </body>
</html>
